html {
  font-size: 18px;
}
body {
  font-family: Helvetica;
  line-height: 1.4;
}
/* Header Section */
header {
  height: 30rem;
  width: 100%;
  background-image: url("../images/glasses-bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 1rem;
}
